form{
    
    height: 100vh;
    display: flex;
    align-items: center;
 
 
}


table{
   border: 1px solid lightgray;
   margin:  0 auto;
   height: 55vh;
   width: 85vw;
   border-radius: 3px;
  
 
   

}

th{
  text-align: left;
  padding: 0;
  margin: 0;
  
}

input{
    display: block;
    border: 1.5px solid lightgray;
    border-radius: 3px;
   margin-top: 5px;
   padding: 5px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 55vh;
    width: 85vw;
    border: 1px solid gray;
    display: flex;
}



input, label
{  
    display: block;
}

select{
   
    margin-top: 5px;
    display: block;
    border: 1px solid lightgray;
}

textarea{
    display: block;border: 1px solid lightgray;
    margin-top: 5px;
}

button{
    padding: 5px;
    border: none;
}

.first-btn{
    background-color: gray;
}

.second-btn{
    background-color: rgb(45, 110, 250);
}


button{
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}

.space{
 
width: 210px;
 display: flex;
 background-color: rgb(118, 128, 136);
border-radius: 3px;




}

.space input{
   margin: 10px;

}

i{
 padding: 0;
    margin-top: 8px;
    
}